<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>服务通知</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/template/notice/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="logo">
                <h1><img src="/template/notice/logo1.png"></h1>
                <span><img src="/template/notice/signal.png">公告:系统升级站点维护中 </span>
            </div>
            <div class="buttom">
                <div class="seach_bar">
                    <p>
                        今日将对服务器进行升级维护，在此期间会暂停网站及应用的访问，访问恢复时间以实际网站开放访问为准，请各位谅解。
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>