<form class="layui-form" action="{:url()}" method="post">

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">所属栏目</label>
      <div class="layui-input-inline" style="width:270px;">
        <select name="cate_id">
          <option value=""></option>
          {volist name="cates" id="vo"}
          {if condition="$vo['level'] == 1"}
          <optgroup label="{$vo['cate_name']}">
            {volist name="cates" id="vvo"}
            {if condition="$vvo['p_id'] == $vo['cate_id']"}
            <option value="{$vvo['cate_id']}">{$vvo['cate_name']}</option>
            {/if}
            {/volist}
          </optgroup>
          {/if}
          {/volist}
        </select>
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i></div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">短标题</label>
      <div class="layui-input-inline"  style="width:270px">
        <input type="text" name="article_title" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>&nbsp;&nbsp;推荐5~9个字符</div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-block">
      <label class="layui-form-label">文章标题</label>
      <div class="layui-input-inline" style="width:700px;">
        <input type="text" name="article_long_title" autocomplete="off" placeholder="" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>&nbsp;&nbsp;推荐25~30个字符</div>
    </div>
    
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">封面图</label>
    <div class="layui-inline">
      <button type="button" class="layui-btn" id="test1">上传</button>
      <div class="layui-upload-list">
        <img class="layui-upload-img" id="demo1">
        <p id="demoText"></p>
        <input type="hidden" name="thumb" value="" id="thumb"/>
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否显示</label>
    <div class="layui-input-inline" style="width:270px">
      <input type="checkbox" checked value="1" name="is_show" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否推荐</label>
    <div class="layui-input-inline" style="width:270px">
      <input type="checkbox" value="1" name="is_stick" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">文章类型</label>
      <div class="layui-input-inline" style="width:270px">
        <input type="radio" name="article_type" lay-filter="articleType" value="1" title="原创" checked="checked">
        <input type="radio" name="article_type" lay-filter="articleType" value="0" title="转载">
      </div>
      <div class="layui-form-mid layui-word-aux">&nbsp;</div>
    </div>
    <div class="layui-inline layui-hide" id="linkDiv">
      <label class="layui-form-label">链接地址</label>
      <div class="layui-input-inline"  style="width:270px">
        <input type="text" name="link" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">关键词</label>
      <div class="layui-input-inline" style="width:270px">
        <input type="text" name="keywords" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">排序号</label>
      <div class="layui-input-inline" style="width:270px">
        <input type="number" name="sort_order" value="50" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux">&nbsp;</div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">文章作者</label>
      <div class="layui-input-inline" style="width:270px">
        <input type="text" name="author" class="layui-input" value="Lucas"/>
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">文章内容</label>
      <div class="layui-col-md10 layui-col-sm10">
        <!-- <textarea class="layui-textarea" name="article_content" id="LAY_demo_editor"></textarea> -->
          <script id="editor" type="text/plain" name="article_content"></script>
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">MD内容</label>
      <div class="layui-col-md10 layui-col-sm10">
        <!-- <textarea class="layui-textarea" name="article_content" id="LAY_demo_editor"></textarea> -->
          <script id="editormd" type="text/plain" name="article_md_content"></script>
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label"></label>
      <div class="layui-form-mid layui-word-aux" style="width:700px">
        推荐：1、标题使用加黑字体。&nbsp;2、正文字体颜色选择#64451D、每行缩进。
      </div>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-inline">
      <textarea placeholder="" name="article_desc" class="layui-textarea" style="resize:none;width:700px;height:100px" ></textarea>
    </div>
  </div>
  {:token()}
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline" style="width:270px">
      <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
      <!-- <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button> -->
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
{include file="system@block/layui" /}
<!-- <link rel="stylesheet" href="__LIB__/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="__LIB__/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="__LIB__/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="__LIB__/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="__LIB__/kindeditor/plugins/code/prettify.js"></script> -->
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/ueditor.config.js"></script>    
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/ueditor.all.js"> </script>     
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<link rel="stylesheet" href="__LIB__/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">


<script src="__LIB__/editormd/examples/js/jquery.min.js"></script>
<link rel="stylesheet" href="__LIB__/editormd/css/editormd.css" />
<script src="__LIB__/editormd/editormd.min.js"></script>

<script>
  layui.use('form',function(){
    var $ = layui.jquery;
    var form = layui.form;
    form.on('radio(articleType)', function(data){
        //console.log(data.elem); //得到radio原始DOM对象
        //console.log(data.value); //被点击的radio的value值
        if(data.value == 0){
          $('#linkDiv').removeClass('layui-hide');
        }else{
         $("#linkDiv").addClass("layui-hide");
       }
     });  
  });

  layui.use('upload', function(){
    var $ = layui.jquery
    ,upload = layui.upload;

    //普通图片上传
    var uploadInst = upload.render({
      elem: '#test1'
      ,url: '{:url("system/annex/upload?from=input&group=article&thumb=no&water=no&input=file&nick_name=文章封面图")}'
      ,before: function(obj){
        //预读本地文件示例，不支持ie8
        obj.preview(function(index, file, result){

          $('#demo1').attr({'src':result}); //图片链接（base64）
        });
      }
      ,done: function(res){
        //console.log(res);
        //如果上传失败
        if(res.code == 1){
          $('#thumb').val(res.data.file);
          return layer.msg('上传成功');
        }else{
          return layer.msg('上传失败');
        }
        //上传成功
      }
      ,error: function(){
        //演示失败状态，并实现重传
        var demoText = $('#demoText');
        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        demoText.find('.demo-reload').on('click', function(){
          uploadInst.upload();
        });
      }
    });
  });
  // var ue = UE.getEditor('editor');

  var ue = UE.getEditor('editor', {
        // toolbars: [
        //     ['fullscreen', 'emotion','InsertImage', 'preview', 'link']
        // ],
        initialFrameWidth: "100%",
        initialFrameHeight: "400",
        // minFrameWidth:800,
        // minFrameHeight:400,
        // scaleEnabled:true, //表格是否可拖拽
        //position: "fixed",
        //autoFloatEnabled: false, //取消浮动，默认true，但是开启浮动后会出现bug，工具栏置顶了。
        // position: "relative", //relative , fixed , absolute
        // topOffset:80,
        autoFloatEnabled: false,
        // toolbarTopOffset:200,
    });

  //SyntaxHighlighter.all();
/*  kindEditor编辑器 KindEditor.ready(function(K) {
    var editor1 = K.create('textarea[name="article_content"]', {
      cssPath : '/kindeditor/plugins/code/prettify.css',
      uploadJson : '/kindeditor/php/upload_json.php',
      fileManagerJson : '/kindeditor/php/file_manager_json.php',
      allowFileManager : true,
      allowImageUpload : true,
    // items : [ //只选择需要的条目，
    //   'image'
    // ],
    afterCreate : function() {
      var self = this;

      K.ctrl(document, 13, function() {
        self.sync();
        K('form[name=example]')[0].submit();
      });
      K.ctrl(self.edit.doc, 13, function() {
        self.sync();
        K('form[name=example]')[0].submit();
      });
    },
    // 失去焦点的时候，同步到表单中，这样如果异步提交，就可以将内容提交上去，否则提交上去的内容就会是空的
    afterBlur: function () { 
      this.sync(); 
    }
  });
    prettyPrint();
  });*/
  
    var testEditor;
    testEditor = editormd("editormd", {
     placeholder:'本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
     width: "100%",
     height: 640,
     syncScrolling: "single",  
     path: "/lib/editormd/lib/",   //你的path路径（原资源文件中lib包在我们项目中所放的位置）
     theme: "white",//工具栏主题
     previewTheme: "white",//预览主题
     editorTheme: "pastel-on-white",//编辑主题
     imageUpload : true, 
     imageFormats : ["jpg","jpeg","gif","png","bmp","webp"], 
     imageUploadURL : "{:url('Knowledge/uploadImg')}",//上传图片使用方法
     saveHTMLToTextarea: true,
     emoji: true,
     taskList: true, 
     tocm: true,         // Using [TOCM]
     tex: true,                   // 开启科学公式TeX语言支持，默认关闭
     flowChart: true,             // 开启流程图支持，默认关闭
     sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
     toolbarIcons : function() {  //自定义工具栏，后面有详细介绍
         return editormd.toolbarModes['full']; // full, simple, mini
      },
});
testEditor.getMarkdown();
// 在js中调用getMarkdown这个方法可以获得Markdown格式的文本。
</script>