<div class="page-toolbar">
    <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
        <div class="layui-input-inline" style="width:150px;">
            <select name="cate_id">
              <option value="">请选择栏目</option>
              <option value="0">顶级</option>
              {volist name="cates" id="vo"}
              {if condition="$vo['level'] == 1"}
              <option value="{$vo['cate_id']}">&nbsp;&nbsp;{$vo['cate_name']}</option>
                  {volist name="cates" id="vo1"}
                  {if condition="$vo1['p_id'] == $vo['cate_id']"}
                  <option value="{$vo1['cate_id']}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo1['cate_name']}</option>
                  {/if}
                  {/volist}
              {/if}
              {/volist}
            </select>
        </div>
        <div class="layui-input-inline" style="width:120px;padding-left:5px">
            <input type="text" name="keywords" placeholder="关键词或标题" class="layui-input">
        </div>
        <div class="layui-input-inline" style="margin-left:10px;">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
            <button type="reset" class="layui-btn">重置</button>
        </div>
    </form>
</div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <a href="{:url('add')}"><button class="layui-btn layui-btn-sm layui-btn-normal">新增文章</button></a>
    <button data-href="{:url('del')}" data-id="house_id" class="layui-btn layui-btn-sm layui-btn-danger j-page-btns">批量删除</button>
    <a data-href="{:url('out_to_md')}" class="j-ajax"><button class="layui-btn layui-btn-sm layui-btn-normal">一键将所有文章导出成MD文件</button></a>
  </div>
</script>
<script type="text/html" title="状态模板" id="statusTpl">
    <input type="checkbox" name="is_show" value="{{ d.is_show }}" lay-skin="switch" lay-filter="switchStatus" lay-text="开启|禁用" {{ d.is_show == 1 ? 'checked' : '' }} {{ d.system == 1 ? 'disabled' : '' }} data-href="{:url('show')}?article_id={{ d.article_id }}">
</script>
<script type="text/html" title="排序模板" id="sortTpl">
    <input type="text" class="layui-input j-ajax-input input-sort" onkeyup="value=value.replace(/[^\d]/g,'')" value="{{ d.sort_order }}" data-value="{{ d.article_id }}" data-href="{:url('sort_order')}?article_id={{ d.article_id }}">
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
	<a href="{:url('edit')}?article_id={{ d.article_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
    <a href="{:url('detail')}?article_id={{ d.article_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
    <button data-href="{:url('del')}?article_id={{ d.article_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</button>
</script>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,height: 550
            ,toolbar: '#toolbar'
            ,url: '{:url("blog/Article/index")}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {type: 'checkbox'}
                ,{field: 'sort_order', width: 70, title: '排序', templet: '#sortTpl'}
                ,{field: 'article_title', minWidth: 200, title: '标题'}
                ,{field: 'cate_name', width: 100, title: '所属栏目'}
                ,{field: 'article_type', width: 80, title: '类型', templet: function(d) {
                  if(d.article_type == 1){
                    return '原创';
                  }else{
                    return '转载';
                  }
                  return params.insts[d.ban_inst_id];
                }}
                ,{field: 'keywords', width: 200, title: '关键词'}
                ,{field: 'is_show', title: '状态', width: 100, templet: '#statusTpl'}
                ,{field: 'click', width: 70, title: '浏览'}
                ,{field: 'love', width: 70, title: '点赞'}
                ,{field: 'com', width: 70, title: '评论'}
                ,{field: 'ctime', width: 160, title: '创建日期'}
                ,{title: '操作', width: 170, templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        })
    });

</script>