{// :runhook('system_admin_index')}
{include file="block/layui" /}
<script src="__PUBLIC_JS__/echarts/echarts.js?v={:config('hisiphp.version')}"></script>

<table id="dataTable" lay-filter='dataTable'></table>
<div class="layui-container">
    <div class="layui-row">
      <div class="layui-col-md6">
        <div id="myChart1" class="grid" v="{$articles}"></div>
      </div>
      <div class="layui-col-md6">
        <div id="myChart2" class="grid"></div>
      </div>
    </div>
    <div class="layui-row">
      <div class="layui-col-xs6 layui-col-md12">
        <div id="myChart3" class="grid2" v="{$articlesTimeKeys}" c="{$articlesTimeVals}"></div>
      </div>
    </div>
</div>
<style>
    .grid {
        width: 100%;height:400px;/*border:1px solid red;*/
        /*width: 100%;height:400px;border:0px solid red;background-color:#F5F5F5;*/
    }
    .grid2 {
        width: 100%;height:400px;/*border:1px solid red;*/
        /*width: 100%;height:400px;border:0px solid red;background-color:#F5F5F5;*/
    }
</style>
<script type="text/javascript">
    layui.use(['jquery'], function() {
        var $ = layui.jquery;
        var jsonstr = $('#myChart1').attr('v');
        var articlesArr = JSON.parse(jsonstr);
        var xAxisArr = new Array();
        var yAxisArr = new Array();
        for ( var i = 0; i <articlesArr.length; i++){
            xAxisArr[i] = articlesArr[i].cate_name;
            yAxisArr[i] = articlesArr[i].article_ids;
        }


        // 柱状图
        var myChart1 = echarts.init(document.getElementById('myChart1'));
        myChart1.setOption({
            title: {
                text: '文章数量',
                //subtext: '数据仅供参考',
                //padding: [5,10],
                right: 40,
                top: 2,
                //bottom: 20,
            },
            tooltip: {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:['数量']
            },
            xAxis: { //设置x轴的相关参数
                
                data: xAxisArr,
                
                nameTextStyle: { //设置坐标轴名称的文字样式
                    fontStyle: 'normal',
                    color: '#333',
                },
                
                type: 'category', // value数值轴，category类目轴，log对数轴
                name: '栏目',
                show: true,  //设置是否显示x坐标轴
                nameLocation: 'end', //坐标轴名称的文字,所处位置
                nameGap: 20,  //坐标轴名称的文字距x轴线的距离
                min: '1', //设置坐标轴刻度最小值
                max: 'dataMax',
                axisLine: { //设置轴线箭头
                    show: true,
                    symbol: ['none', 'arrow'], //设置轴线箭头如何显示，
                    symbolSize: [5,8], //设置轴线箭头大小
                    symbolOffset: [0,8], //设置轴线箭头距离轴的偏移
                    lineStyle: {
                        width: 1, //设置轴线的宽度
                        color: '#333', //设置轴线的颜色

                    },
                },
                axisTick: { //坐标轴刻度相关设置
                    show: true,
                    interval: 'auto', //设置坐标轴强制显示所有标签【默认auto，间隔显示】
                    inside: true, //设置刻度是否朝内，默认朝外
                    length: 3, //设置刻度的长度
                },
            },
            yAxis: {
                name: '文章',
                show: true,  //设置是否显示x坐标轴
                nameLocation: 'end', //坐标轴名称的文字,所处位置
                
            },
            series: [{
                name: '文章数',
                type: 'bar', // bar:柱状图
                data: yAxisArr
            }]
        });

        // 二、饼状图 https://www.echartsjs.com/examples/zh/editor.html?c=pie-legend
        var myChart2 = echarts.init(document.getElementById('myChart2'));
        var dataChart2 = new Array();
        for ( var i = 0; i <articlesArr.length; i++){
            var obj = new Object();
            obj.value = articlesArr[i].article_ids;
            obj.name = articlesArr[i].cate_name;
            dataChart2[i] = obj;
        }
        //console.log(dataChart2);
        myChart2.setOption({
            title: {
                text: '',
                //subtext: '数据仅供参考',
                //padding: [5,10],
                right: 40,
                top: 2,
                //bottom: 20,
            },
            tooltip: {
		        trigger: 'item',
		        formatter: '{a} <br/>{b} : {c} ({d}%)'
		    },
		    legend: {
		        type: 'scroll',
		        orient: 'vertical',
		        right: 10,
		        top: 20,
		        bottom: 20,
		        data: ['生活随想','PHP'],

		        //selected: data.selected
		    },
            series : [
                {
                    name: '文章来源',
                    type: 'pie',
                    radius: '65%',
                    data: dataChart2
                }
            ]
        })


        //三、折线图
        var xAxisData = $('#myChart3').attr('v');
        var xAxisData3 = JSON.parse(xAxisData);
        var yAxisData = $('#myChart3').attr('c');
        var yAxisData3 = JSON.parse(yAxisData);

        var myChart3 = echarts.init(document.getElementById('myChart3'));
        console.log(yAxisData3);
        myChart3.setOption({
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                text: '文章发布日期',
                right: 40,
                top: 2,
            },
            grid: { //设置图标和容器的位置关系
                left: 60,
                right: 60,
            },
            // toolbox: {
            //     feature: {
            //         dataZoom: {
            //             yAxisIndex: 'none'
            //         },
            //         restore: {},
            //         saveAsImage: {}
            //     }
            // },
            legend: {
                left: 100,
                align: 'left',
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: xAxisData3,
                interval: 0,
            },
            yAxis: {
                type: 'value'
            },
            dataZoom: [{
                type: 'inside',
                start: 0,
                end: 100 //百分比，100表示显示全部长度
            }, {
                start: 0,
                end: 10, 
                handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                handleSize: '80%',
                handleStyle: {
                    color: '#fff',
                    shadowBlur: 3,
                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetX: 2,
                    shadowOffsetY: 2
                }
            }],
            series: [{
                name: '文章',
                data: yAxisData3,
                type: 'line',
                areaStyle: {}
            }]
        })
    });

</script>