{include file="system@block/layui" /}
<a href="{:url('wemini/mini_login')}" hisi-data="{width: '700px', height: '400px',refresh: 2}" title="数据签名验证" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">数据签名验证</a>
&nbsp;&nbsp;
<a href="{:url('wemini/mini_qrc')}" hisi-data="{width: '700px', height: '400px',refresh: 2}" title="小程序二维码" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">小程序二维码</a>
&nbsp;&nbsp;
<a href="{:url('wemini/mini_template_library_list')}" hisi-data="{width: '700px', height: '400px',refresh: 2}" title="模板库标题列表" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">模板库标题列表</a>
&nbsp;&nbsp;
<a href="{:url('wemini/mini_template_library')}" hisi-data="{width: '700px', height: '400px',refresh: 2}" title="某个模板标题下关键词库(以AT0003为例)" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">某个模板标题下关键词库(以AT0003为例)</a>
&nbsp;&nbsp;
<a href="{:url('wemini/mini_template_list')}" hisi-data="{width: '700px', height: '400px',refresh: 2}" title="帐号下已存在的模板列表" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">帐号下已存在的模板列表</a>