<form class="layui-form" action="{:url()}" method="post">

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">所属栏目</label>
      <div class="layui-input-inline">
        <select name="p_id">
          <option value=""></option>
          <option value="0">顶级栏目</option>
          {volist name="cates" id="vo"}
          {if condition="$vo['level'] == 1"}

          <option value="{$vo['cate_id']}">┠&nbsp;&nbsp;{$vo['cate_name']}</option>
          {volist name="cates" id="vo1"}
          {if condition="$vo1['p_id'] == $vo['cate_id']"}
          <option value="{$vo1['cate_id']}" disabled>&nbsp;&nbsp;┠&nbsp;&nbsp;&nbsp;{$vo1['cate_name']}</option>
          {/if}
          {/volist}
            
          {/if}
          {/volist}
          <!-- <optgroup label="书屋">
            <option value="13">理财类</option>
            <option value="14">生活类</option>
            <option value="15">技能类</option>
            <option value="16">新闻类</option>
          </optgroup> -->
        </select>
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填，目前只能添加一级或二级栏目</div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">栏目名称</label>
      <div class="layui-input-inline">
        <input type="text" name="cate_name" autocomplete="off" placeholder="" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填，推荐5~10个字符</div>
    </div>
    
  </div>
  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">栏目链接</label>
      <div class="layui-input-inline">
        <input type="text" name="link" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填，例如：/index/Blog/index?cate_id=</div>
    </div>
    
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">关键词</label>
      <div class="layui-input-inline">
        <input type="text" name="keywords" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填</div>
    </div>
    
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">排序号</label>
      <div class="layui-input-inline">
        <input type="number" name="sort_order" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填</div>
    </div>
    
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">是否显示</label>
    <div class="layui-input-inline">
      <input type="checkbox" checked value="1" name="is_show" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
    </div>
    <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填</div>
  </div>

  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-inline">
      <textarea placeholder="" name="cate_desc" class="layui-textarea"></textarea>
    </div>
    <div class="layui-form-mid layui-word-aux"><i style="color:red">*</i>必填</div>
  </div>

  {:token()}
  <div class="layui-form-item">
  <label class="layui-form-label"></label>
    <div class="layui-input-inline" style="width:270px">
      <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
{include file="system@block/layui" /}